.lead-page{
    height: calc(93vh - 65px);
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.heading-add-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
}

.add-btn button{
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #d9d9d9;
    color: #636060;
    font-size: medium;
}

.lead-loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  color: #0f2c2c;
  font-weight: 500;
}

.spinner {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #0f2c2c;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin-bottom: 12px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
