.dashboard-card{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 1px solid gray;
    width: 250px;
    height: 150px;
    border-radius: 10px;
}

.dashboard-card img{
    height: 30px;
}

.text{
    margin: 5px;
}
.number{
    color: black;
    font-weight: bold;
    font-size: larger;
    margin: 5px;
}