/* .leads{
  height: 800px;
}

.leads-cards{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 410px;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  border: 2px solid green;
}

.leads-cards::-webkit-scrollbar {
  display: none;
} */


.leads {
  height: 880px;
  /* padding: 20px; */
  /* background-color: #f4f4f4; */
}

.leads-cards {
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 6px; /* So scrollbar doesn’t overlap content */
}

/* Optional: Show scrollbar */
.leads-cards::-webkit-scrollbar {
  width: 3px;
}

.leads-cards::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.leads-cards::-webkit-scrollbar-track {
  background: transparent;
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

.spinner {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #445668;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-text {
  font-size: 1rem;
  color: #445668;
}
